<div class="container">
  <div class="row">
    <div
      class="col-12 p-4 text-end"
      style="background-color: #ffff; border-radius: 10px"
    >
      <h4>روابط التواصل الإجتماعى</h4>

      <hr />

      <div class="row">
        <div class="col-12 buttons-layout">
          @for (link of links ;track link ; let index =$index){
          <button
            class="btn btn-secondary"
            (click)="gettingLink(link)"
            routerLink="{{ index }}"
          >
            {{ link }}
          </button>
          }
        </div>
      </div>
      <hr />
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
