<div class="container mt-5 w-60 justify-content-end">
  @if (showAlert) {
  <div class="alert alert-danger" role="alert">
    {{ serverErrorMessage }}
  </div>
  } @if (newPass) {
  <div class="alert alert-custom mb-3" role="alert">
    password has been reset
  </div>
  }
  <div class="row m-auto w-50 text-center">
    <div class="col-12 mt-5">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="form-group text-center">
          <label for="otpNumber" style="color: #fff" class="mb-3"
            >Reset Password</label
          >
          <input
            type="password"
            class="form-control formInput mb-3"
            id="password"
            name="password"
            placeholder=""
            [(ngModel)]="form.password"
            #password="ngModel"
            required
            minlength="8"
            maxlength="40"
          />

          @if(submitted && password.errors ){ @if(password.errors['type']){
          <div class="invalid-feedback">code should be number</div>
          } }
          <button type="submit" class="btn btn-success px-5 mt-3">تأكيد</button>
        </div>
      </form>
    </div>
  </div>
</div>
