<div class="container mt-5 w-60 justify-content-end">
    @if (showAlert) {
        <div class="alert alert-danger" role="alert">
          {{ serverErrorMessage }}
        </div>
        }
  <div class="row w-50 text-center">
    <div class="col-12">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="form-group">
          <label for="otpNumber" mb-4 style="color: #fff">Verify number</label>
          <input
            type="number"
            class="form-control formInput"
            id="otpNumber"
            name="otpNumber"
            placeholder=""
            [(ngModel)]="form.otpNumber"
            #otpNumber="ngModel"
            required
          />

          @if(submitted && otpNumber.errors ){ @if(otpNumber.errors['type']){
          <div class="invalid-feedback">code should be number</div>
          } }
          <button type="submit" class="btn btn-success px-5 mt-3">تأكيد</button>
        </div>
      </form>
    </div>
  </div>
</div>
