<div class="container mt-5 w-60 justify-content-end">
  @if (emailSent) {
  <div class="alert alert-custom mb-3" role="alert">
    email sent successfully check your email to get new password
  </div>
  } @if (showAlert) {
  <div class="alert alert-danger m-auto w-50 mb-3" role="alert">
    {{ serverErrorMessage }}
  </div>
  } @if (sending) {
  <div class="mt-4" style="height: 50px"></div>
  <div class="row text-center mt-5 m-auto w-75">
    <div class="col-12 text-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  } @if(!sending){
  <div class="row m-auto w-50 text-center">
    <div class="col-12 mt-5">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="form-group">
          <label for="otpNumber" class="mb-3" style="color: #fff"
            >Enter Email Address</label
          >
          <input
            type="email"
            class="form-control formInput mb-3"
            id="email"
            name="email"
            placeholder=""
            [(ngModel)]="form.email"
            #email="ngModel"
            required
            email
          />

          @if(submitted && email.errors ){ @if(email.errors['email']){
          <div class="invalid-feedback">should be valid email</div>
          } }
          <button type="submit" class="btn btn-success px-5 mt-3">تأكيد</button>
        </div>
      </form>
    </div>
  </div>
  }
</div>
